@{
    ViewBag.Title = "Про нас!";
}
<h2>@ViewBag.Title.</h2>

<p>Ми новий портал для кіноманів, який забезпечує нові прогрисивні і навіть неймовірні можливості! Де ще ви зможете відкрити сайт в сайті?! West Coast!</p>
