@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Кінопортал.сом</h1>
    <p class="lead">Кінопортал.сом це порталь який дозволяє всім заєрестрованим користувачам переглядати  і редагувати інформацію про акторів, фільми та режисерів</p>
    <p><a href="http://gidonline.in/" class="btn btn-primary btn-lg">Дивитися кіно &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Фільми</h2>
        <p>
            В дано розділі порталу можна прочитати анотацію, преглянути трейлер, переглянути а про фільми з бази даних, додати новий фільм так відредагувати дані про існуючий, якщо ви знайдете неточності.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44349/Films/Index">Побачити більше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Актори</h2>
        <p>Тут ви можете преглянути дані про акторів, скільки їм років, в яких фільмах вони знімалися а також додати до списку кових зірок які тільки починають підніматися на вершну популярності.</p>
        <p><a class="btn btn-default" href="https://localhost:44349/Actors">Побачити більше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Режесери</h2>
        <p>Даний розділ порталу містить дані про режесеріва, які вони фільми знімали і не тільки.....</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>