@{
    ViewBag.Title = "crutch";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="StyleSheet1.css" />
    <meta charset="utf-8" />
    <meta name="author" content="Bohdan Duk">
</head>
<body>
    <a href="https://localhost:44349/Actors/%D0%A1rutch2">
        <img src="~/Images/default.png" alt="Harry Potter" style="float:left; margin-right:10px;" />
    </a>
</body>
</html>