
@{
    ViewBag.Title = "Сrutch2";
    Layout = null;
}

<form method="POST" asp-action="Сrutch2" asp-controller="Actors">
    <label for="URL">Your first name</label>
    <input type="text" name="URL" id="URL" placeholder="Введіть url" />
    <input type="submit" />
</form>